.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  width: 100%;
}
img{
  width: 100%;
  height: auto;
}
.square{
  width: 100px;
  height: 100px;
  background-color: red;
  transition: all 150ms ease-in-out;
}
